<h1>Employment History</h1>

<form action="/success" method="post">
  <label for="employer">Employer</label>
  <br>
  <input id="employer" name="employer" type="text">
  <br>
  <label for="title">Title</label>
  <br>
  <input id="title" name="title" type="text">
  <br>
  <label for="location">Location</label>
  <br>
  <input id="location" name="location" type="text">
  <br>
  <label for="description">Description</label>
  <br>
  <input id="description" name="description" type="text">
<br>
<br>
  <button type="submit">Add employer</button>
</form>

<div class="contentBox">
  <div class="column">
    <h3>Employer</h3>
  </div>
<div class="column">
<h3>Job Title</h3>
  </div>
<div class="column">
<h3>Location</h3>
  </div>
<div class="column">
<h3>Description</h3>
  </div>
</div>

<% @jobs_list.each() do |ejob| %>
<div class="contentBox">
  <div class="column">
    <%= ejob.employer() %>
  </div>
<div class="column">
  <%= ejob.title() %>
  </div>
<div class="column">
  <%= ejob.location() %>
  </div>
<div class="column">
  <%= ejob.description() %>
  </div>
</div>
<% end %>
